<!-- Section header Start -->
<header class="header">
    <a class="header__logo-mobile" href="index.html"><img src="img/logo-mobile.png" alt=""></a>
    <div class="header__search form-search">
        <form action="" method="post">
            <button type="submit" class="fas fa-search form-search__submit"></button>
            <input type="text" placeholder="Поиск" class="form-control ">
        </form>
    </div>
    <ul class="header__navigation">
        <li class="dropdown header__avatar avatar">
            <a href="#" class="dropdown-toggle  ">
				<span class="avatar__image">
				<img src="img/avatar.png" alt=""></span>
				Георгий Решетников
			</a>
            <ul class="dropdown-content">
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle"><i class="far fa-envelope"></i></a>
            <ul class="dropdown-content">
                <li><a href="#">Some 1</a></li>
                <li><a href="#">Some 2</a></li>
                <li><a href="#">Some 3</a></li>
                <li><a href="#">Some</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#" class="messages-link dropdown-toggle"><i class="far fa-bell"></i><span class="badge">12</span></a>
            <ul class="dropdown-content">
                <li><a href="#">Some 1</a></li>
                <li><a href="#">Some 2</a></li>
            </ul>
        </li>
        <li class="dropdown toggle-menu"><a href="#" class="dropdown-toggle"><i class="far fa-bars"></i></a>
            <ul class="dropdown-content">
                <li><a href="#">Георгий Решетников</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Log out</a></li>
            </ul>
        </li>
    </ul>
</header>
<!-- Section header   End-->