<aside class="sidebar sidebar__left">
    <div class="sidebar__logo">
        <img src="img/logo.png" alt="">
    </div>

    <nav>
        <ul class="sidebar__navigation">
            <li><a href=""><i class="icon fas fa-money-bill"></i>Balances</a></li>
            <li><a href=""><i class="icon fal fa-chart-pie"></i>Trading</a></li>
            <li><a href=""><i class="icon fas fa-arrows-alt-h"></i>Transactions</a></li>
            <li><a href=""><i class="icon far fa-shield-check"></i>Bot arbitrage</a></li>
            <li><a href=""><i class="icon fal fa-id-card"></i>Arbitrage</a></li>
        </ul>
        <div class="sidebar__btn-buy__wrap">
            <a class="sidebar__btn-buy" href="#"><span class="fas fa-plus"></span>buy crypto</a>
        </div>
        <ul class="sidebar__navigation">
            <li><a href=""><i class="fal fa-sliders-h"></i>Settings</a></li>
            <li><a href=""><i class="far fa-info-square"></i>Help</a></li>
        </ul>
    </nav>
</aside>